#hero {
  background: #000000;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  & > div {
    width: 50%;
  }
  &__left {
    padding: 55px 0 162px;
    @media (min-width: 1392px) {
      padding-left: 80px;
      padding-right: 40px;
    }
    h1 {
      margin-bottom: 152px;
      font-family: "Open Sans";
      font-weight: 400;
      font-size: 28px;
      line-height: 130%;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      color: #ffffff;
    }
    p {
      font-family: "Open Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 167.5%;
      color: #ffffff;
    }
    &__c1 {
      margin-bottom: 80px;
    }
  }
  &__right {
    img {
      width: 100%;
    }
  }
}

@media (max-width: 1250px) {
  .hero {
    &__left {
      padding: 55px 0 162px;
      h1 {
        margin-bottom: 19px;
      }
      &__c1 {
        margin-bottom: 40px;
      }
    }
  }
}

@media (max-width: 1000px) {
  .hero {
    & > div {
      width: 100%;
    }
    &__left {
      padding: 45px 0 40px;
    }
  }
}
